# Capstone Project - The Battle of Neighborhoods 

## Luca Di Narzo

# ----------------------------------------------------------------------------------------------

# Introduction

## Description of the problem and a discussion of the background.

### Scenario

My name is Luca and i come from Milan, Italy. I've always lived in Italy and for us a good espresso coffee is fundamental. In order to find the best espresso in Milan I tried out many coffees and once I've chosen the best one i stick with it. Now I'm going to live in New York. The culture of coffee is different in other countries and I'm afraid I won't be able to find enough coffe shops in NY. That's why I want to apply what I've learned so far to discover a neighbour where there're enough coffee shops in NY like Milan.

### Business model

This work will be very helpful for other italians who want to live abroad and apply the same methodology to other cities.

# Data

## Description of the data and how it will be used to solve the problem

The following data will be used:

- List of Boroughs and neighborhoods of Milan with their geodata;
- List of Boroughs and neighborhoods of Manhattan with their geodata;
- List of coffee shops of Milan with their geodata;
- List of coffee shops of Manhattan with their geodata.


### Data Sources

- Boroughs and neighborhoods of Milan from Wikipedia (https://en.wikipedia.org/wiki/Municipalities_of_Milan);
- Boroughs and neighborhoods of Manhattan from Wikipedia (https://en.wikipedia.org/wiki/Neighborhoods_in_New_York_City);
- Geocode information from Geopy;
- Coffee shops in Milan and Manhattan from Foursquare

# Methodology

1. The neighborhood where i live in Milan will be individuated
2. The number of coffee shops will be extrapolated.
3. Different neighborhoods in Manhattab we'll be anallyzed and we'll select just the ones with at least the same amount of coffee shops present in my actual neighborhood
4. One of neighborhood with the highest number of cafes is where i'll live

### Importing the libraries

In [26]:
import numpy as np # library to handle data in a vectorized manner
import time
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe


!pip install geopy 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

!pip install folium
import folium # map rendering library
from folium import plugins

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

import seaborn as sns

# import k-means from clustering stage
from sklearn.cluster import KMeans

Requirement already satisfied: geopy in c:\programdata\anaconda3\lib\site-packages (1.20.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\programdata\anaconda3\lib\site-packages (from geopy) (1.50)
Requirement already satisfied: folium in c:\programdata\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from folium) (2.22.0)
Requirement already satisfied: branca>=0.3.0 in c:\programdata\anaconda3\lib\site-packages (from folium) (0.3.1)
Requirement already satisfied: jinja2>=2.9 in c:\programdata\anaconda3\lib\site-packages (from folium) (2.10.3)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from folium) (1.16.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from branca>=0.3.0->folium) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)

### Gathering Milan data and processing them

In [74]:
# Importing the neighbourhood data

link_milan = 'https://en.wikipedia.org/wiki/Municipalities_of_Milan'

Milan = pd.read_html(link_milan)[1]
Milan.head()

,Borough,Name,Area(km2),Population(2014),Population density(inhabitants/km2),Quartieri (districts)
0,1.0,Centro storico,9.67,96315.000,11074,"Brera, Centro Storico, Conca del Naviglio, Gua..."
1,2.0,"Stazione Centrale, Gorla, Turro, Greco, Cresce...",12.58,153.109,13031,"Adriano, Crescenzago, Gorla, Greco, Loreto, Ma..."
2,3.0,"Città Studi, Lambrate, Porta Venezia",14.23,141229.000,10785,"Casoretto, Cimiano, Città Studi, Dosso, Lambra..."
3,4.0,"Porta Vittoria, Forlanini",20.95,156.369,8069,"Acquabella, Calvairate, Castagnedo, Cavriano, ..."
4,5.0,"Vigentino, Chiaravalle, Gratosoglio",29.87,123779.000,4487,"Basmetto, Cantalupa, Case Nuove, Chiaravalle, ..."

In [75]:
# Selecting just the columns we're interested in
Milan = Milan[['Name', 'Quartieri (districts)']]
Milan.rename(columns = {'Quartieri (districts)' : 'District'}, inplace = True)
Milan = Milan[0:-1]
Milan.head()

,Name,District
0,Centro storico,"Brera, Centro Storico, Conca del Naviglio, Gua..."
1,"Stazione Centrale, Gorla, Turro, Greco, Cresce...","Adriano, Crescenzago, Gorla, Greco, Loreto, Ma..."
2,"Città Studi, Lambrate, Porta Venezia","Casoretto, Cimiano, Città Studi, Dosso, Lambra..."
3,"Porta Vittoria, Forlanini","Acquabella, Calvairate, Castagnedo, Cavriano, ..."
4,"Vigentino, Chiaravalle, Gratosoglio","Basmetto, Cantalupa, Case Nuove, Chiaravalle, ..."

In [76]:
# Separating the districts in different rows
Milan = pd.DataFrame(Milan.District.str.split(',').tolist(), index=Milan.Name.astype('object')).stack()

Milan = Milan.reset_index([0, 'Name'])

Milan.columns = ['Borough', 'District']
Milan.head()

          Borough             District
0  Centro storico                Brera
1  Centro storico       Centro Storico
2  Centro storico   Conca del Naviglio
3  Centro storico            Guastalla
4  Centro storico       Porta Sempione

In [80]:
# Selecting my district
My_district = Milan[Milan['District'].str.contains('Sempione', na = False)]
My_district

          Borough         District
4  Centro storico   Porta Sempione

In [152]:
# Getting latitude and longitude of my district
address = My_district['District'].values[0] + ', Milan'
geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of my district are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of my district are 45.4771283, 9.1705984.

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  This is separate from the ipykernel package so we can avoid doing imports until

In [90]:
# Creating a map of Milan and finding my district.
map_my_district = folium.Map(location=[latitude, longitude], zoom_start=11)

folium.CircleMarker(
    [latitude, longitude],
    radius=5,
    color='blue',
    fill=True,
    fill_color='#3186cc',
    fill_opacity=0.7,
    parse_html=False).add_to(map_my_district)

map_my_district

<img src="https://previews.dropbox.com/p/thumb/AAqh2YyVgyE3-gdoC33WIJksW53csP_t0IXrOB0Ufk2TT_j35DtaEnzsCElRMYYkOU3_7Cf0tN2vVzn8NSQMWrhOEh1XAVfxJZixgq48C9-vs4AwYcOUPoIXeqq5Htxuf8HSA7Tezl3H30Tc-HhzxI-tkfmYdafPsQ2_1UQVSEwrG6diYA-BDkyNTI2JqppfloAyzJ3VLJ3Fnppfj8FqIeBeie66jz_hG3gCeT8nfm5c3-1lp-fuWtQx5DrUUej6NLSFD6lJXiGUN9z0-e7xkDWnTUIXurWpajuHrAhDne_Tp50iJDeDRGnXKzlm2RPPT6q5ZQ5S5Ljvr3W8F-9zTVA7/p.jpeg?fv_content=true&size_mode=5"/>

<img src="https://previews.dropbox.com/p/thumb/AAqP0p5hzm_liB9YE4USZI7qf-eHMyhqVNXfNW6G_DqhY3J4OyrISakW30gs7cTl179yE38ehZWISlxQXjTP__o1PT-8aGl8SNyrAt1jw5s03USYMgxmZcXlPTZo9bbegoKyt-emHAlxGEgM3ybB3EYSc6siMLVll2ej6Bg3sIZCrTEPLzBR0dD5dE50PuSdC9tyvbxU25IMEYkd_Bh5ci2g22ZdMOHU5Oqbj-SOzd6WeWdxkPgGvoEWZGVmiFJgOmBbL99nmw0K1YA82lDyaNiS76WbtYYs_kKLOP_b7ENLj97viEAp8VSalze9H4v0nPJP7mpjv0RKe4U6DqVDrBBu/p.jpeg?fv_content=true&size_mode=5"/>

### Extracting the number of cafes in my district area

In [94]:
# Date from foursquare (They have been hided)
CLIENT_ID = 'PNMYSJFPT5BRLSTNSBV2E0CD5PGA4JIEWHTW1EJ1G1N52OZQ' # your Foursquare ID
CLIENT_SECRET = 'NWCZ2XGV2PRJHM413T1WACQBEEUFN3ORENAUJPLDQBZ4HNJJ' # your Foursquare Secret
VERSION = '20191206'
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: PNMYSJFPT5BRLSTNSBV2E0CD5PGA4JIEWHTW1EJ1G1N52OZQ
CLIENT_SECRET:NWCZ2XGV2PRJHM413T1WACQBEEUFN3ORENAUJPLDQBZ4HNJJ

In [138]:
# We choose to search by category with a 500m radius.
radius = 500
LIMIT = 100
category_id = '4bf58dd8d48988d16d941735' #ID for BAR & CAFE

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&categoryId={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, category_id, radius, LIMIT)

# Send the GET Request
results = requests.get(url).json()

# Get relevant part of JSON and transform it into a pandas dataframe
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

# keep only columns that include venue name, and anything that is associated with location
filtered_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')] + ['id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean column names by keeping only last term
dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]

dataframe_filtered

,name,categories,address,lat,lng,labeledLatLngs,distance,postalCode,cc,city,state,country,formattedAddress,crossStreet,neighborhood,id
0,Jazz Cafè,Italian Restaurant,"Corso Sempione, 8",45.477195,9.170516,"[{'label': 'display', 'lat': 45.47719508849758...",9,20145,IT,Milano,Lombardia,Italia,"[Corso Sempione, 8, 20145 Milano Lombardia, It...",NaN,NaN,4bc1b7f1abf495216562c193
1,Bar Marilù - Da Mimmo,Café,Corso Sempione,45.477085,9.170541,"[{'label': 'display', 'lat': 45.47708540819612...",6,20145,IT,Milano,Lombardia,Italia,"[Corso Sempione (at via giovanni gherardini), ...",at via giovanni gherardini,NaN,4c3c88aca9509c745b30395b
2,Marilù,Cocktail Bar,Corso Sempione 9,45.477151,9.170518,"[{'label': 'display', 'lat': 45.47715091237248...",6,20145,IT,Milano,Lombardia,Italia,"[Corso Sempione 9, 20145 Milano Lombardia, Ita...",NaN,NaN,4c8f69fead70a143ce41910f
3,Caffè In Giardino,Café,Viale Alemagna 6,45.472538,9.174573,"[{'label': 'display', 'lat': 45.472538, 'lng':...",597,20121,IT,Milano,Lombardia,Italia,"[Viale Alemagna 6, 20121 Milano Lombardia, Ita...",NaN,NaN,5b2f84a57564f7002c3f076c
4,Salad Me Cafè,Italian Restaurant,"Corso Sempione, 30",45.479834,9.168204,"[{'label': 'display', 'lat': 45.47983366672143...",354,20154,IT,Milano,Lombardia,Italia,"[Corso Sempione, 30 (Via Prina), 20154 Milano ...",Via Prina,NaN,547c7c10498e3f5770194e87
5,Libreria del Mondo Offeso,Bookstore,Via Cesare Cesariano 7,45.478368,9.176649,"[{'label': 'display', 'lat': 45.47836840463392...",492,20121,IT,Milano,Lombardia,Italia,"[Via Cesare Cesariano 7, 20121 Milano Lombardi...",NaN,NaN,51b0bfc3498e038e58f4461c
6,Canonica 59,Bakery,"Via Canonica, 59",45.479583,9.172872,"[{'label': 'display', 'lat': 45.47958282812870...",325,20154,IT,Milano,Lombardia,Italia,"[Via Canonica, 59, 20154 Milano Lombardia, Ita...",NaN,NaN,4c9cbd717c096dcb0d35c4d1
7,Bar Andrea di Mouktar Shakhloul,Sandwich Place,Via Luigi Canonica 47,45.479357,9.173485,"[{'label': 'display', 'lat': 45.479357, 'lng':...",335,20154,IT,Milano,Lombardia,Italia,"[Via Luigi Canonica 47, 20154 Milano Lombardia...",NaN,NaN,4e967f3a9adf7f572df890d6
8,Magiustra,Café,Via Cesariano 9,45.477966,9.176439,"[{'label': 'display', 'lat': 45.477966, 'lng':...",465,20154,IT,Milano,Lombardia,Italia,"[Via Cesariano 9, 20154 Milano Lombardia, Italia]",NaN,NaN,5b52ed9686bc49002cd271c5
9,Good Time Cafè,Café,Via Paolo Sarpi 50,45.481193,9.172789,"[{'label': 'display', 'lat': 45.48119307926346...",483,20154,IT,Milano,Lombardia,Italia,"[Via Paolo Sarpi 50, 20154 Milano Lombardia, I...",NaN,Sarpi,4c3afd9862f1c928b3c08e53
10,Happy Bar Tabacchi,Café,"Via Francesco Londonio, 17",45.480474,9.168799,"[{'label': 'display', 'lat': 45.48047365474546...",398,20154,IT,Milano,Lombardia,Italia,"[Via Francesco Londonio, 17, 20154 Milano Lomb...",NaN,NaN,4e16c9fe8877d38dc908fd7d
11,cin cin bar,Café,NaN,45.481251,9.174344,"[{'label': 'display', 'lat': 45.481251, 'lng':...",544,NaN,IT,NaN,NaN,Italia,[Italia],NaN,NaN,56ff856d498eb675170bc081
12,Caffè in diretta,Café,C.so Sempione 23,45.478859,9.167825,"[{'label': 'display', 'lat': 45.47885877836661...",289,20145,IT,Milano,Lombardia,Italia,"[C.so Sempione 23, 20145 Milano Lombardia, Ita...",NaN,Pagano,4e85b86a4fc6f899e2050fa4
13,Pasticceria ranieri,Café,Ippolito Nievo,45.478089,9.162794,"[{'label': 'display', 'lat': 45.47808913897803...",618,NaN,IT,Milano,Lombardia,Italia,"[Ippolito Nievo, Milano Lombardia, Italia]",NaN,NaN,4e2be48c18387cce06787b25
14,Carpe Diem,Café,Via Bertani,45.476997,9.174781,"[{'label': 'display', 'lat': 45.47699684412049...",326,NaN,IT,NaN,NaN,Italia,"[Via Bertani, Italia]",NaN,NaN,4f102523e4b000502a95924b
15,Bar Tiramisù,Café,Via Rosmini 11,45.480495,9.175254,"[{'label': 'display', 'lat': 45.48049547801645...",522,20154,IT,Milano,Lombardia,Italia,"[Via Rosmini 11, 20154 Milano Lombardia, Italia]",NaN,NaN,4f548ff4e4b0d3a8f700ce6e
16,Camparitivo in Triennale,Café,"Triennale di Milano, Viale Emilio Alemagna, 6",45.472527,9.174585,"[{'label': 'display', 'lat': 45.47252692417562...",599,20154,IT,Milano,Lombardia,Italia,"[Triennale di Milano, Viale Emilio Alemagna, 6...",NaN,NaN,4bdc3965c79cc928ac9c85e9
17,Gelateria Siciliana dell'Isola,Café,NaN,45.481556,9.167607,"[{'label': 'display', 'lat': 45.481556, 'lng':...",545,NaN,IT,NaN,NaN,Italia,[Italia],NaN,NaN,55f31bc6498edda1e48e1b21
18,Carillon Bar,Café,NaN,45.472757,9.169388,"[{'label': 'display', 'lat': 45.47275749572734...",495,NaN,IT,NaN,NaN,Italia,[Italia],NaN,NaN,51d6ae9b498e4812ee606675
19,Bar la Siesta,Café,"Via Cesariano, 7",45.478277,9.176514,"[{'label': 'display', 'lat': 45.4782772678166,...",479,NaN,IT,Milano,Lombardia,Italia,"[Via Cesariano, 7, Milano Lombardia, Italia]",NaN,NaN,4baa7684f964a520756c3ae3
20,Max's Cafè,Café,"Via Bertini, 1",45.481030,9.169809,"[{'label': 'display', 'lat': 45.48103007981725...",438,20154,IT,Milano,Lombardia,Italia,"[Via Bertini, 1, 20154 Milano Lombardia, Italia]",NaN,NaN,4bcc3e2a68f976b0a73b6283
21,Le Voyage,Lounge,NaN,45.477814,9.169702,"[{'label': 'display', 'lat': 45.477814, 'lng':...",103,NaN,IT,NaN,NaN,Italia,[Italia],NaN,NaN,564acd7c498e2a88152124e1
22,Casa Del Caffe,Café,Via Cesare Cesariano 8,45.478212,9.176470,"[{'label': 'display', 'lat': 45.47821188629173...",473,20154,IT,Milano,Lombardia,Italia,"[Via Cesare Cesariano 8, 20154 Milano Lombardi...",NaN,NaN,4e26be247d8b5ea724762349
23,Triennale DesignCafé,Café,Viale Emilio Alemagna 6,45.472571,9.174517,"[{'label': 'display', 'lat': 45.47257097848756...",592,20121,IT,Milano,Lombardia,Italia,"[Viale Emilio Alemagna 6, 20121 Milano Lombard...",NaN,NaN,4c8cb890509e3704facc3555
24,Klover,Café,Corso Sempione 12,45.477585,9.169940,"[{'label': 'display', 'lat': 45.477585317328, ...",72,NaN,IT,Milano,Lombardia,Italia,"[Corso Sempione 12, Milano Lombardia, Italia]",NaN,NaN,56ac6ebf498e6a949aa8bee9
25,Beinlove,Café,NaN,45.477582,9.169778,"[{'label': 'display', 'lat': 45.47758244403422...",81,NaN,IT,NaN,NaN,Italia,[Italia],NaN,NaN,52b2af0211d2b3c37f583738
26,Bar Pama,Café,"Via Abbondio Sangiorgio, 14",45.475882,9.166802,"[{'label': 'display', 'lat': 45.475882, 'lng':...",327,NaN,IT,Milano,Lombardia,Italia,"[Via Abbondio Sangiorgio, 14 (Via Filarete), M...",Via Filarete,NaN,50658f76e4b0916c4ca39ed6
27,Pandenus,Bakery,Via melzi d'eril,45.477935,9.174175,"[{'label': 'display', 'lat': 45.47793488153433...",293,NaN,IT,Milano,Lombardia,Italia,"[Via melzi d'eril, Milano Lombardia, Italia]",NaN,NaN,5249b61d11d2e2108a47da82
28,Bar Privativa,Café,NaN,45.478403,9.168325,"[{'label': 'display', 'lat': 45.478403, 'lng':...",227,NaN,IT,NaN,NaN,Italia,[Italia],NaN,NaN,506d4d40e4b0bc23b0865fae
29,Nonsolodolce,Café,"via Cesare Cesariano, 9",45.478120,9.175820,"[{'label': 'display', 'lat': 45.47812, 'lng': ...",422,NaN,IT,Milano,Lombardia,Italia,"[via Cesare Cesariano, 9 (via Canonica), Milan...",via Canonica,NaN,56363352498e20709d38d5e2
30,Bar da Valerio & Claudio,Café,Corso Sempione 32,45.480480,9.166675,"[{'label': 'display', 'lat': 45.48047975098019...",482,NaN,IT,NaN,NaN,Italia,"[Corso Sempione 32, Italia]",NaN,NaN,5344e17b498e772bfa311e38
31,Pistacchio,Café,Via Cesariano 9,45.478077,9.176449,"[{'label': 'display', 'lat': 45.47807691216825...",468,20154,IT,Milano,Lombardia,Italia,"[Via Cesariano 9 (Canonica), 20154 Milano Lomb...",Canonica,NaN,51f01f97498ed30e07269e22
32,Vanichi Cafe,Café,NaN,45.480306,9.175191,"[{'label': 'display', 'lat': 45.48030580561587...",503,NaN,IT,NaN,NaN,Italia,[Italia],NaN,NaN,4f1033a1e4b067840f651511
33,Bar Petit Cafè,Café,via Vincenzo Monti 57/a,45.473198,9.166128,"[{'label': 'display', 'lat': 45.47319761111394...",559,NaN,IT,Milano,Lombardia,Italia,"[via Vincenzo Monti 57/a, Milano Lombardia, It...",NaN,NaN,4cdeb229f8a4a14331e5d8bc
34,SevenGreen Cafè,Café,Via Procaccini 36,45.483110,9.169621,"[{'label': 'display', 'lat': 45.48310958474128...",670,20100,IT,Milano,Lombardia,Italia,"[Via Procaccini 36, 20100 Milano Lombardia, It...",NaN,NaN,5235ca95498eb85f1c8ee7f4
35,Virgilio,Café,Vincenzo monti,45.471581,9.169524,"[{'label': 'display', 'lat': 45.47158075716382...",623,NaN,IT,Milano,Lombardia,Italia,"[Vincenzo monti, Milano Lombardia, Italia]",NaN,NaN,4bf27c7ba32e20a11b3dd557
36,Chiosco Parco Sempione Giochi,Café,Parco Sempione,45.475983,9.175408,"[{'label': 'display', 'lat': 45.475983, 'lng':...",396,20154,IT,Milano,Lombardia,Italia,"[Parco Sempione, 20154 Milano Lombardia, Italia]",NaN,NaN,4bf5332ccad2c928f8b79c99
37,Happy Bar,Café,NaN,45.480667,9.169329,"[{'label': 'display', 'lat': 45.480667, 'lng':...",406,NaN,IT,NaN,NaN,Italia,[Italia],NaN,NaN,4bd994a62e6f0f47a5100b08
38,Click Art Cafe,Café,"Corso Sempione, 34",45.480537,9.166486,"[{'label': 'display', 'lat': 45.48053672750743...",497,20154,IT,Milano,Lombardia,Italia,"[Corso Sempione, 34, 20154 Milano Lombardia, I...",NaN,NaN,4c4d317013d120a11cb88401
39,Bar Bravi Ragazzi,Café,"Via Francesco Londonio, 9-15",45.479917,9.169384,"[{'label': 'display', 'lat': 45.479917, 'lng':...",324,20154,IT,Milano,Lombardia,Italia,"[Via Francesco Londonio, 9-15, 20154 Milano Lo...",NaN,NaN,4c21f2b37e85c928f228bb21
40,Aldo's Bar,Café,NaN,45.481878,9.171633,"[{'label': 'display', 'lat': 45.48187843, 'lng...",534,NaN,IT,Milano,Lombardia,Italia,"[Milano Lombardia, Italia]",NaN,NaN,4c21f2317e85c9282428bb21
41,Silver cafe,Café,Via Canonica 13,45.477949,9.176823,"[{'label': 'display', 'lat': 45.477949, 'lng':...",494,NaN,IT,Milano,Lombardia,Italia,"[Via Canonica 13, Milano Lombardia, Italia]",NaN,NaN,4d9c501781716ea8eb1adaea
42,Bar Basso (giù da),Café,NaN,45.477005,9.178077,"[{'label': 'display', 'lat': 45.47700519425615...",583,NaN,IT,NaN,NaN,Italia,[Italia],NaN,NaN,4f8814e0e4b07f1a34180c8e
43,Antica Caffetteria,Café,Via Canonica,45.478313,9.175565,"[{'label': 'display', 'lat': 45.47831335941448...",409,NaN,IT,Milano,Lombardia,Italia,"[Via Canonica, Milano Lombardia, Italia]",NaN,NaN,4c3fea4dff711b8d36b60f05
44,Caffè Sangiorgio,Café,NaN,45.474949,9.164590,"[{'label': 'display', 'lat': 45.47494943507828...",528,NaN,IT,Milano,Lombardia,Italia,"[Milano Lombardia, Italia]",NaN,NaN,4e043a98483b6f89f47d4ade

In [140]:
print('The total number of cafes in an area of 500m is: ' +str(dataframe_filtered.shape[0]))

The total number of cafes in an area of 500m is: 45

#### The number of cafes near my house is 45. Now we're going to search for this characteristic in NY

## Gathering NY data and selecting Manhattan

In [149]:
# Importing the neighbourhood data

link_ny = 'https://en.wikipedia.org/wiki/Neighborhoods_in_New_York_City'

NY = pd.read_html(link_ny)[0]
NY.head()

,Community Board(CB),Areakm2,Pop.Census2010,Pop./km2,Neighborhoods
0,Bronx CB 1,7.17,91497,12761,"Melrose, Mott Haven, Port Morris"
1,Bronx CB 2,5.54,52246,9792,"Hunts Point, Longwood"
2,Bronx CB 3,4.07,79762,19598,"Claremont, Concourse Village, Crotona Park, Mo..."
3,Bronx CB 4,5.28,146441,27735,"Concourse, Highbridge"
4,Bronx CB 5,3.55,128200,36145,"Fordham, Morris Heights, Mount Hope, Universit..."

In [150]:
# Selecting the columns we need and selecting manhattan.
NY = NY[['Community Board(CB)','Neighborhoods']]

NY.rename(columns = {'Community Board(CB)' : 'Borough'}, inplace = True)

NY = NY[NY['Borough'].str.contains('Manhattan', na = False)]
NY.reset_index(drop = True, inplace = True)
NY.head()

          Borough                                      Neighborhoods
0  Manhattan CB 1     Battery Park City, Financial District, Tribeca
1  Manhattan CB 2  Chinatown, Greenwich Village, Little Italy, Lo...
2  Manhattan CB 3  Alphabet City, Chinatown, East Village, Lower ...
3  Manhattan CB 4                     Chelsea, Clinton, Hudson Yards
4  Manhattan CB 5                                            Midtown

In [151]:
# Separating the districts in different rows
NY = pd.DataFrame(NY.Neighborhoods.str.split(',').tolist(), index=NY.Borough.astype('object')).stack()

NY = NY.reset_index([0, 'Borough'])

NY.columns = ['Borough', 'District']
print(NY.shape)
NY.head()

(47, 2)

          Borough             District
0  Manhattan CB 1    Battery Park City
1  Manhattan CB 1   Financial District
2  Manhattan CB 1              Tribeca
3  Manhattan CB 2            Chinatown
4  Manhattan CB 2    Greenwich Village

In [171]:
# Getting latitude and longitude NY 
lat = []
long = []

In [176]:
# This process must be repeated more times because after 20 iterations the service becomes unavailable
for i in np.arange(0,NY.shape[0]):
    address = NY['District'].values[i] + ', New York'
    geolocator = Nominatim()
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    print(str(i)+'The geograpical coordinate of ' +address +' are {}, {}.'.format(latitude, longitude))
    lat.append(latitude)
    long.append(longitude)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  after removing the cwd from sys.path.

44The geograpical coordinate of  Wards Island, New York are 40.7876012, -73.9254149.
45The geograpical coordinate of Inwood, New York are 40.8692579, -73.9204949.
46The geograpical coordinate of  Washington Heights, New York are 40.8401984, -73.9402214.

In [180]:
# Inserting latitude and longitude in the DF
NY['latitude'] = lat
NY['longitude'] = long
NY.head()

          Borough             District   latitude  longitude
0  Manhattan CB 1    Battery Park City  40.711017 -74.016937
1  Manhattan CB 1   Financial District  40.707612 -74.009378
2  Manhattan CB 1              Tribeca  40.715380 -74.009306
3  Manhattan CB 2            Chinatown  40.716491 -73.996250
4  Manhattan CB 2    Greenwich Village  40.731980 -73.996566

In [ ]:
# Creating a map of NY.

lat = 40.73
long = -73.98

map_NY = folium.Map(location=[lat, long], zoom_start=11)

for lat, long, label in zip(NY['latitude'], NY['longitude'], NY['District']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, long],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_NY)  
    
map_NY

## An iteration through all the district is performed to get the higher number of bar.

In [195]:
# Initializing the number of bars
N_bar = []

In [200]:
for i in np.arange(0,NY.shape[0]):

    # We choose to search by category with a 500m radius.
    radius = 500
    LIMIT = 100
    category_id = '4bf58dd8d48988d16d941735' #ID for BAR & CAFE

    latitude = NY['latitude'][i]
    longitude = NY['longitude'][i]

    # Define the corresponding URL
    url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&categoryId={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, category_id, radius, LIMIT)

    # Send the GET Request
    results = requests.get(url).json()

    # Get relevant part of JSON and transform it into a pandas dataframe
    # assign relevant part of JSON to venues
    venues = results['response']['venues']

    # tranform venues into a dataframe
    dataframe = json_normalize(venues)
    dataframe.head()

    # keep only columns that include venue name, and anything that is associated with location
    filtered_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')] + ['id']
    dataframe_filtered = dataframe.loc[:, filtered_columns]

    # function that extracts the category of the venue
    def get_category_type(row):
        try:
            categories_list = row['categories']
        except:
            categories_list = row['venue.categories']

        if len(categories_list) == 0:
            return None
        else:
            return categories_list[0]['name']

    # filter the category for each row
    dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

    # clean column names by keeping only last term
    dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]
    
    print(str(i) + ') The number of bars in ' +NY['District'][i] + ' is ' +str(dataframe_filtered.shape[0]) + '\n')
    N_bar.append(dataframe_filtered.shape[0])

45) The number of bars in Inwood is 7

46) The number of bars in  Washington Heights is 17

# Results

In [202]:
# Selecting the districts with the number of cafes higher than in Milan
NY['Number of cafes'] = N_bar
NY = NY[NY['Number of cafes'] > 45]
NY

           Borough             District   latitude  longitude  Number of cafes
1   Manhattan CB 1   Financial District  40.707612 -74.009378               50
2   Manhattan CB 1              Tribeca  40.715380 -74.009306               48
3   Manhattan CB 2            Chinatown  40.716491 -73.996250               50
4   Manhattan CB 2    Greenwich Village  40.731980 -73.996566               50
5   Manhattan CB 2         Little Italy  40.719273 -73.998215               50
7   Manhattan CB 2                 NoHo  40.725875 -73.993957               50
8   Manhattan CB 2                 SoHo  40.722880 -73.998750               50
9   Manhattan CB 2         West Village  40.734186 -74.005580               48
11  Manhattan CB 3            Chinatown  40.716491 -73.996250               50
12  Manhattan CB 3         East Village  40.729269 -73.987361               49
18  Manhattan CB 5              Midtown  40.762268 -73.979544               50
19  Manhattan CB 6        Gramercy Park  40.737925 -73.985932               49
21  Manhattan CB 6            Rose Hill  40.743338 -73.984159               49
22  Manhattan CB 6          Murray Hill  40.748157 -73.978750               47
27  Manhattan CB 6           Turtle Bay  40.753467 -73.968866               49

In [204]:
print('The number of suitable district are: ' +str(NY.shape[0]))

The number of suitable district are: 15

## Map of the district in NY

In [205]:
# Creating a map of NY.

lat = 40.73
long = -73.98

map_NY = folium.Map(location=[lat, long], zoom_start=11)

for lat, long, label in zip(NY['latitude'], NY['longitude'], NY['District']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, long],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_NY)  
    
map_NY

<img src="https://previews.dropbox.com/p/thumb/AAo0a4cZdwNGHPaBkxBIMZirAjxJojAcxCZs6TfIz4NBWFVDsv2F9fD7NZxx5cMZzkHTTNf4bDuEj4x_IENpF3Ru4Hqa8iW7yJdEGc7WYabajpM78Ni89-TBtt7IB7zbcN1Z59D316FQ4OZnBjpPMdsZS3yV-PtRTQcWvyw13F1JtFnElt_nKzjtfzNMF8kLRm4Oue3qea7G7K_WdOtDFi3fY3quHiqqZnRYEkYpLRe1zFRKsIk6Wr4IUyF3AqL0ALjrjiikPveuT6IuIXuB75sm7hwLIMHBawwqBI_opmJTEPcv5Yqxi2DwtQ0zoHNFrX8hGgC8Rs9kpEquKDlVyu81/p.jpeg?fv_content=true&size_mode=5"/>

# Discussions

It turns out from this analysis that there's an high number of districts in Manhattan with an high concentration of cafes. This is what i expected from a cosmopolitan city like NY.

In this way now i know that i can go to NY and enjoy a good coffy everywhere.

# Conclusions

This methodology has been very helpful to choose the district in NY with the highest concentration of cafes. The advantage is that it can be applied to every city and for different categories like restaurants, museum or gyms thank to the flexibility provided by Foursquare.

In the future this could be strengthen providing also a review rate of the various cafes present in the district.

# Thank you